@charset "utf-8";
@import "webfonts/assistant.css";
@import "webfonts/balsamiqsans.css";
@import "webfonts/barlow.css";
@import "webfonts/dmsans.css";
@import "webfonts/signika.css";
@import "webfonts/ubuntu.css";
@import "webfonts/varelaround.css";
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Roboto);
:root {
  /*--header-font: 'Balsamiq Sans';/*Original*/
  --header-font: 'Signika';/*Favorite*/
  /*--header-font: 'Ubuntu';/**/
  /*--header-font: 'Varela Round';/**/
  /*--body-font: 'Allerta';/*Original*/
  /*--body-font: 'Assistant';/**/
  /*--body-font: 'Barlow';/**/
  --body-font: 'DM Sans';/*Favorite*/
  /*--body-font: 'Roboto';/**/
  /*--title-font: var(--header-font);/*Original*/
  --title-font: 'Ubuntu';/*Favorite*/
}

body {
  background-color: #eaefdb;
  background-image: url("images/Background_Grid.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
header {
  color: #EEEEEE;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
title-block {
  font-family: var(--title-font);
  font-size: 42px;
  text-align: center;
  background-color: #3366FF;
  display: block;
  padding: 15px;
}
nav {
  font-family: var(--header-font);
  font-size: 20px;
  text-align: center;
  background-color: #555555;
  display: block;
}
.nav-button {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-button.active {
  background-color: #444444;
}
.nav-button:hover:not(.active) {
  text-decoration: underline;
  background-color: #666666;
}
main {
  min-width: 60%;
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}
section {
  background-color: #FFFFFF;
  padding: 20px;
}
footer {
  font-family: var(--body-font);
  font-size: 15px;
  color: #EEEEEE;
  text-align: center;
  background-color: #3366FF;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: normal;
  margin: 10px;
  overflow: hidden;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
body, td, th {
  font-family: var(--body-font);
  font-size: 17px;
  color: #000000;
}
p, ul, ol {
  overflow: hidden;
}
.nav-button a:link {
  color: inherit;
  text-decoration: none;
}
.nav-button a:visited {
  color: inherit;
  text-decoration: none;
}
.nav-button a:hover {
  color: inherit;
  text-decoration: none;
}
.nav-button a:active {
  color: inherit;
  text-decoration: none;
}
.has-modal {
  cursor: pointer;
  transition: 0.3s;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}
#modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

#modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#modal-close:hover,
#modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
